* {
  margin: 0.2rem;
}

:root {
  --mainDark: #232528;
  --mainWhite: #f3f3f3;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: linear-gradient(to left, #141e30, #243b55) !important;
  color: var(--mainWhite) !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  align-self: center;
  padding: 2rem;
}

.task-list-box {
  padding-top: 2rem;
}

.text-title {
  letter-spacing: 0.4rem;
}

.task-list {
  color: var(--mainWhite);
}

.remove-task-button {
  padding-left: 0.8rem;
}
